@charset "utf-8";
html,body{margin: 0;padding: 0;}
html{overflow: hidden;}
/* body *{outline: 1px solid black;} */
.menu{width: 100%;height: 100px;display: flex;justify-content: space-evenly;position: fixed;top: 0;background-color: lightblue;}
.li{width: 13%;height: 100%;justify-content: center;align-items: center;display: flex;cursor: pointer;}
.li:hover{background-color: cornflowerblue;}
.mobx,.bgmn{display: none;}
.bgmn{width: 100vw;height: 100vh;background-color: white;display: flex;flex-direction: column;z-index: 3333;position: absolute;top: 0;left: 0;}
.bgmn h1{text-align: center;}
.dgbt{width: 90vw;text-align: right;}
.beef{height: 13vh;display: flex;justify-content: center;align-items: center;}
.main{width: 500%;height: calc(100vh - 200px);display: flex;position: absolute;top: 100px;background-color: pink;}
.each{flex: 1;position: relative;}
.chop{display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px;
    border: 20px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#ddd, #ddd), 
    repeating-conic-gradient(black 10%,black 15%,orange 16%,  orange 20%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: rota 10s linear  infinite  ;
    position: absolute;}
    .chop:nth-child(2){top: 0;right: 0;}
    .chop:nth-child(3){bottom: 0;left: 0;}
    .chop:nth-child(4){bottom: 0;right: 0;}
    @keyframes rota {
        25%{transform: rotate(90deg);}
        50%{transform: rotate(180deg);}
        75%{transform: rotate(270deg);}
        100%{transform: rotate(360deg);}
    }
.each:first-child h1{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 3.3rem;}
.each h1{text-align: center;}
.bx{display: grid;position: absolute;top: 50%;transform: translateY(-50%) translateX(-50%);max-width: 1000px;left: 50%;grid-template-columns: repeat(3,1fr);grid-template-rows: repeat(50%);}
.bx p{height: 100px;grid-column: 1/3;text-align: justify;margin-right: 30px;border: 10px solid transparent;border-image: linear-gradient(to right,yellow,yellow 10%,pink 10.1%,pink 90%,yellow 90.1%,yellow);border-image-slice: 1;padding: 10px;}
.bx img{width: 300px;height: 200px;grid-column: 3/4;grid-row: 1/3;}
.aa{grid-column: 1/2;display: flex;justify-content: center;align-items: center;cursor: pointer;background-color: cornflowerblue;width: 200px;border-radius: 30px;height: 44px;}
.bb{display: flex;justify-content: center;align-items: center;background-color: cornflowerblue;width: 200px;border-radius: 45px;cursor: pointer;height: 44px;}
/* select{margin: 0 auto;} */
.mvbx{display: flex;justify-content: center;max-width: calc(200px*2);margin: 0 auto;}
.slt1{width: 100px;text-align: center;margin-left: auto;}
.each:last-child button{cursor: pointer;}
/* .ipbx{text-align: center;} */
.tb{position: relative;min-height: 100px;}
.tb span{position: absolute;top: 50%;left: 0;right: 0;text-align: center;font-size: 30px;}
table{margin: 0 auto;text-align: center;border-collapse: collapse;margin-top: 30px;}
table img{width: 100px;max-height: 130px;}
table tr td{border-top: 1px solid #000;padding-top: calc(2px*2);}
table tr:last-child td{border-bottom: 1px solid black;}
table tbody tr td:nth-child(2){max-width: 330px;padding: 10px;}
.cart{background-color: #ffffff77;position: absolute;top: 0;right: -40vw;width: 40vw;height: 100vh;}
.carb{text-align: right;width: 90%;}
.carb span{font-size: 3rem;cursor: pointer;}
.foot{width: 100%;height: 100px;position: fixed;bottom: 0;background-color: #ddd;}
@media screen and (max-width:500px) {
    html,body{height: 100vh;overflow: hidden;}
    .menu{display: none;}
    .mobx{display: flex;width: 100vw;height: 100px;justify-content: center;align-items: center;background-color: lightblue;position: fixed;}
    .chop{width: 50px;height: 50px;border: 10px solid transparent;font-size: .7rem;}
    .bx{display: flex;flex-direction: column;width: 90vw;}
    .bx p{margin: 0 auto;height: auto;}
    .bx img{display: none;}
    .aa,.bb{margin: 0 auto;margin-top: 3vh;}
    .mvbx{width: 70vw;display: grid;grid-template-columns: repeat(1,1fr);grid-template-rows: auto;}
    .iptt{grid-column: 1/3;}
    .scbt{grid-column: 3/4;}
    .slt1{grid-column: 1/3;}
    .rsbt{grid-column: 3/4;}
    .tb{width: 90vw;margin: 0 auto;}
    .tb b{display: none;}
    table{margin-top: 0;}
    table thead th:first-of-type,
    table tbody td:first-of-type
    {display: none;}
    table img{display: none;}
    .foot{top: calc(100vh - 100px);}
}